head
    title PDF2List
    link(rel="icon" href="/favicon-16x16.png" sizes="16x16" type="image/png")
    link(rel="icon" href="/favicon-32x32.png" sizes="32x32" type="image/png")

div
    h1 Overburdened!
    p The site has been receiving a massive amount of traffic compared to my expectations! Unfortunately, this means that it is costing me a lot more money than I was anticipating. I am taking the site down temporarily while I review the project and investigate how I can make it more cost effective.

    p If you are interested in being notified when the site is available again, please leave your email here.
    form(action="email" method="POST" enctype="multipart/form-data")
    label(for="email") Email:
    input(type="text" name="email" placeholder="Email")
